<h1>Welcome to {{appName}}</h1>
<br>
<br>
{{outlet}}
<br>
{{medium-editor
    model.sumText
    options=(hash)
    onChange=(action "changed")
}}

<button onclick={{action "test"}}>External change</button>
<br>